Source: ubuntu-desktop-testing
Section: utils
Priority: optional
XSBC-Original-Maintainer: Ara Pulido <apulido@gmail.com>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Standards-Version: 3.8.0
XS-Python-Version: current
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), python-central, python-dev (>= 2.4), python-distutils-extra
Vcs-Bzr: https://code.launchpad.net/~hardware-certification/checkbox/trunk

Package: ubuntu-desktop-tests
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ldtp, python-ldtp, desktop-testing-library
Recommends: xsltproc, firefox
XB-Python-Version: ${python:Versions}
Description: Ubuntu Desktop Tests
 A set of desktop tests that can be used with the desktop-testing-library to test Ubuntu automatically.
Vcs-Bzr: https://code.launchpad.net/~apulido/ubuntu-desktop-testing/ubuntu-desktop-testing

Package: desktop-testing-library
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ldtp, python-ldtp
XB-Python-Version: ${python:Versions}
Description: Desktop Testing library
 Library for desktop testing. It allows the user to write desktop tests for Ubuntu withouth needing to know how LDTP framework works internally. 
Vcs-Bzr: https://code.launchpad.net/~apulido/ubuntu-desktop-testing/ubuntu-desktop-testing
