# [XMPP]
# username=elmer
# domain=jabber.org
# resource=Desktop
# password=secret
# protocol=XMPP
# 
# [MSN]
# username=elmer@live.com
# password=secret
# protocol=MSN
# 
# [AIM]
# username=elmer
# password=secret
# protocol=AIM
#
# [ICQ]
# username=1234567
# password=secret
# protocol=ICQ
# 
# [Yahoo]
# username=elmer
# password=secret
# protocol=Yahoo
#
# [OtherXMPP]
# username=elmer
# domain=jabber.fr
# resource=VirtualBuddy
# password=secret
# alias=Elmer Fudd
# protocol=XMPP
