# [XMPP]
# username=elmer
# domain=jabber.org
# resource=Desktop
# password=secret
# 
# [MSN]
# username=elmer@live.com
# password=secret
# 
# [AIM]
# username=elmer
# password=secret
#
# [ICQ]
# username=1234567
# password=secret
# 
# [Yahoo]
# username=elmer
# password=secret
